*{
    box-sizing:border-box ;
}
body{
    width: 960px;
    background-color: blanchedalmond;
    margin: auto;
    padding: 8px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    height: 100px;
    background-color: black;
    display: flex;   
    color: white;
    font-style: normal;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    padding: 10px 0px 18px 20px;
    width: 50%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.coursename {
    font-size: 16px;
    width: 50%;
    justify-content: flex-end;
    padding: 0px 20px 20px 0px;
    display: flex;
    align-items: flex-end;
}
.navigation {
    background-color: darkgrey;
}
a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: inline-block;
}
a:hover{
    color: black
}
.header {
    font-size: 24px;
    font-weight: bold;
    color: #666;
    background-color: aliceblue;
    padding: 0px 0px 10px 20px;
    height: 70px;
    display: flex;
    align-items: flex-end;
}
.description {
    font-size: 14px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
.left{
    padding: 0px 30px 0px 20px;
}
.right{
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.hundo{
    height: 100px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-area: unset;
    padding-right: 80px;
}
.hundo > div{
    display: flex;
    align-items: center;
}
.footer {
    font-size: 12px;
    font-weight: lighter;
    color: lightgray;
    background-color: black;
    text-align: left;
    padding: 10px 0px 15px 20px;
    display: flex;
    align-items: flex-end;
    height: 65px;
}
@media only screen and (max-width: 600px) {
    .description{
        grid-template-columns: 1fr;
    }
    img{
        width: 100%;
    }
    body{
        width: 100%;
    }
  }